*{
  margin: 0;
  padding: 0;
}
body{
  background-color:;
}
nav{
padding-top: 30px;
padding-bottom: 30px;
background-color: white;
margin-left: 250px;
margin-right: 203px;
padding-left: 10px;
padding-right: 40px;
}
ul{
  background-color: white;
  text-align: center;

}
ul li{
  display: inline-block;
  margin-left:20px;
}
.a{
  margin-right: 400px;
}

.head{
  background-color: white;
  padding-top: 30px;
  text-align: center;
  padding-bottom: 40px;
  margin-left: 250px;
  margin-right: 203px;
}
hr{
  text-align: center;
  position: absolute;
  color: blue;
  margin-left: 320px;



}
.ocean{
  background-color: white;
  margin-left: 250px;
  padding-left:40px;
  padding-right: 40px;
  padding-bottom: 100px;
}
