*{
  margin: 0;
  padding: 0;
}


.h{
float: right;
word-spacing: 10px;
padding-right: 10px;
}
body{
  background-color: black;
}
nav{
width: 46.3%;
padding-top: 20px;
padding-bottom: 20px;
background-color: #f2e6d3;
margin: 0 auto;
cursor: pointer;
font-size: 12px;
}
span{
  font-family: 'Cedarville Cursive', cursive;
  color: #ff69b4;
  vertical-align: top;
}

.a{

  font-weight: bold;
  padding-left:8px;
  vertical-align: top;
}

.head{
  background-color: #f2e6d3;
  padding-top: 25px;
  text-align: center;
  padding-bottom: 30px;
  margin: 0 auto;

  width: 46.3%;
  font-size: 10px;
}
.hr{
width: 46.3%;
  background-color: #f2e6d3;
  margin: 0 auto;
}
hr{
  z-index: 1;
  color: blue;
  margin: 0 auto;
  width:  90%;

}
ul li{
  display: inline-block;
}
.ocean{

  width: 80%;
  vertical-align: bottom;
  height: 220px;
}
.photo{
  text-align: center;
  margin: 0 auto;
  background-color: #f2e6d3;
  padding-bottom: 50px;
  width: 46.3%;

}
.me{
  background-color: white;
  text-align: center;
  padding-left: 0px;
  margin: 0 auto;;
  width: 46.3%;
  background-color: #f2e6d3;
  font-family: 'Cedarville Cursive', cursive;
  color: #ff69b4;

}
.about{
  display: inline-block;
  margin-left: 0px;
  margin-right: 5px;
  padding-right: 0;

}
.one{
  color: black;
  margin-left: 5px;
  margin-right: 5px;
}
p{
  font-size: 8px;
  font-family: sans-serif;
}

.my{
  font-family: 'Cedarville Cursive', cursive;
  padding-bottom: 15px;
  padding-right: 20px;
  margin-right: 15px;
}
.one{
  padding-bottom: 30px;
}
.pic{
  background-size: 90px 50px;
  background-color: #f2e6d3;
  margin: 0 auto;
  text-align: center;
  width: 46.3%;
  padding-bottom: 20px;

}
.b{
  border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    vertical-align: bottom;
    width: 100%;

}
.train{
  border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-right: 10px;
  width: 15%;
  height: 38px;
  text-align: center;
  vertical-align: center;
  display: inline-block;
  text-align: center;
}
.z{
  padding-left:5px;
  text-align: left;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 7px;
  background-color: white;
}
.bottom{
  font-family: 'Cedarville Cursive', cursive;
  background-color: #f2e6d3;
  text-align: center;
  padding-top: 40px;
  color:#ff69b4 ;
  width: 46.3%;
  margin: 0 auto;
  padding-bottom: 30px;
  font-size: 12px;
}

footer{
  margin: 0 auto;
  background-color: grey;
  padding-bottom: 20px;
  width: 45.4%;
  padding-left: 10px;
}
.contact{
  font-family: 'Cedarville Cursive', cursive;
  color: #ff69b4;
  padding-top: 20px;
}
i{
  float: left;

}
.icon{
  float: right;
  padding-right: 10px;
}

input{

margin-bottom: 10px;
width: 54.6%;
}
textarea{
  width: 55%;
}
button{
  cursor: pointer;
  border-color: transparent;
  background-color: transparent;
}
i{
  color: #ff69b4;
  margin-right: 5px;
  cursor: pointer;
}
.x{
  padding-left: 5px;
  font-family: 'Cedarville Cursive', cursive;
  color: #ff69b4;
  text-align: left;
  font-size: 7px;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
@media only screen and (min-width: 1180px) {
    .h {
        font-size: 16px;
    }
}
@media only screen and (min-width: 1180px) {
    .a {
        font-size: 16px;
    }
}
@media only screen and (min-width: 1180px) {
    .head {
        font-size: 13px;
    }
}
@media only screen and (min-width: 1180px) {
    .my {
        font-size: 13px;
    }
}
@media only screen and (min-width: 1180px) {
    .one {
        font-size: 8px;
    }
}
@media only screen and (min-width: 1180px) {
    .bottom {
        font-size: 15px;
    }
}
@media only screen and (max-width: 978px) {
    .one {
        font-size: 7px;
    }
}
@media only screen and (max-width: 978px) {
    .my{
        font-size: 10px;
    }
}

@media only screen and (max-width: 858px) {
    .h{
        font-size: 10px;
    }
}
@media only screen and (max-width: 858px) {
    .a{
        font-size: 11px;
    }
}
@media only screen and (max-width: 858px) {
    .one{
        font-size: 6px;
    }
}
@media only screen and (max-width: 858px) {
    .my{
        font-size: 10px;
    }
}
@media only screen and (max-width: 850px) {
    .contact{
        font-size: 18px;
    }
}
@media only screen and (max-width: 836px) {
    .z{
        font-size: 6px;
    }
}
@media only screen and (max-width: 742px) {
    .one{
        font-size: 5px;
    }
}

@media only screen and (max-width: 742px) {
    .head{
        font-size: 7px;
    }
}

@media only screen and (max-width: 729px) {
    .z{
        font-size: 4px;
    }
}

@media only screen and (max-width: 720px) {
    .h{
        font-size: 8px;
    }
}
@media only screen and (max-width: 720px) {
    .contact{
        font-size: 13px;
    }
}
@media only screen and (max-width: 720px) {
    .bottom{
        font-size: 11px;
    }
}
@media only screen and (max-width: 678px) {
    nav{
        width: 48%;
    }
}
@media only screen and (max-width: 678px) {
    .head{
        width: 48%;
    }
}
@media only screen and (max-width: 678px) {
    .hr{
        width: 48%;
    }
}
@media only screen and (max-width: 678px) {
    .photo{
        width: 48%;
    }
}
@media only screen and (max-width: 678px) {
    .me{
        width: 48%;
    }
}

@media only screen and (max-width: 678px) {
    .pic{
        width: 48%;
    }
}
@media only screen and (max-width: 678px) {
    .bottom{
        width: 48%;
    }
}
@media only screen and (max-width: 678px) {
    footer{
        width: 46.7%;
    }
}
@media only screen and (max-width: 678px) {
    nav{
        width: 50%;
    }
}
@media only screen and (max-width: 678px) {
    .head{
        width: 50%;
    }
}
@media only screen and (max-width: 678px) {
    .hr{
        width: 50%;
    }
}
@media only screen and (max-width: 678px) {
    .photo{
        width: 50%;
    }
}
@media only screen and (max-width: 678px) {
    .me{
        width: 50%;
    }
}

@media only screen and (max-width: 678px) {
    .pic{
        width: 50%;
    }
}
@media only screen and (max-width: 678px) {
    .bottom{
        width: 50%;
    }
}
@media only screen and (max-width: 678px) {
    footer{
        width: 48.5%;
    }
}
@media only screen and (max-width: 595px) {
    nav{
        width: 53%;
    }
}
@media only screen and (max-width: 595px) {
    .head{
        width: 53%;
    }
}
@media only screen and (max-width: 595px) {
    .hr{
        width: 53%;
    }
}
@media only screen and (max-width: 595px) {
    .photo{
        width: 53%;
    }
}
@media only screen and (max-width: 595px) {
    .me{
        width: 53%;
    }
}

@media only screen and (max-width: 595px) {
    .pic{
        width: 53%;
    }
}
@media only screen and (max-width: 595px) {
    .bottom{
        width: 53%;
    }
}
@media only screen and (max-width: 595px) {
    footer{
        width: 51.3%;
    }
}
@media only screen and (max-width: 559px) {
    nav{
        width: 55%;
    }
}
@media only screen and (max-width: 559px) {
    .head{
        width: 55%;
    }
}
@media only screen and (max-width: 559px) {
    .hr{
        width: 55%;
    }
}
@media only screen and (max-width: 559px) {
    .photo{
        width: 55%;
    }
}
@media only screen and (max-width: 559px) {
    .me{
        width: 55%;
    }
}

@media only screen and (max-width: 559px) {
    .pic{
        width: 55%;
    }
}
@media only screen and (max-width: 559px) {
    .bottom{
        width: 55%;
    }
}
@media only screen and (max-width: 595px) {
    footer{
        width: 53%;
    }
}
@media only screen and (max-width: 540px) {
    nav{
        width: 62%;
    }
}
@media only screen and (max-width: 540px) {
    .head{
        width: 62%;
    }
}
@media only screen and (max-width: 540px) {
    .hr{
        width: 62%;
    }
}
@media only screen and (max-width: 540px) {
    .photo{
        width: 62%;
    }
}
@media only screen and (max-width: 540px) {
    .me{
        width: 62%;
    }
}

@media only screen and (max-width: 540px) {
    .pic{
        width: 62%;
    }
}
@media only screen and (max-width: 540px) {
    .bottom{
        width: 62%;
    }
}
@media only screen and (max-width: 540px) {
    footer{
        width: 60%;
    }
}
@media only screen and (max-width: 479px) {
    nav{
        width: 68%;
    }
}
@media only screen and (max-width: 479px) {
    .head{
        width: 68%;
    }
}
@media only screen and (max-width: 479px) {
    .hr{
        width: 68%;
    }
}
@media only screen and (max-width: 479px) {
    .photo{
        width: 68%;
    }
}
@media only screen and (max-width: 479px) {
    .me{
        width: 68%;
    }
}

@media only screen and (max-width: 479px) {
    .pic{
        width: 68%;
    }
}
@media only screen and (max-width: 479px) {
    .bottom{
        width: 68%;
    }
}
@media only screen and (max-width: 479px) {
    footer{
        width: 65.8%;
    }
}
@media only screen and (max-width: 436px) {
    nav{
        width: 75%;
    }
}
@media only screen and (max-width: 436px) {
    .head{
        width: 75%;
    }
}
@media only screen and (max-width: 436px) {
    .hr{
        width: 75%;
    }
}
@media only screen and (max-width: 436px) {
    .photo{
        width: 75%;
    }
}
@media only screen and (max-width: 436px) {
    .me{
        width: 75%;
    }
}

@media only screen and (max-width: 436px) {
    .pic{
        width: 75%;
    }
}
@media only screen and (max-width: 436px) {
    .bottom{
        width: 75%;
    }
}
@media only screen and (max-width: 436px) {
    footer{
        width: 73%;
    }
}
@media only screen and (max-width: 399px) {
    nav{
        width: 85%;
    }
}
@media only screen and (max-width: 399px) {
    .head{
        width: 85%;
    }
}
@media only screen and (max-width: 399px) {
    .hr{
        width: 85%;
    }
}
@media only screen and (max-width: 399px) {
    .photo{
        width: 85%;
    }
}
@media only screen and (max-width: 399px) {
    .me{
        width: 85%;
    }
}

@media only screen and (max-width: 399px) {
    .pic{
        width: 85%;
    }
}
@media only screen and (max-width: 399px) {
    .bottom{
        width: 85%;
    }
}
@media only screen and (max-width: 399px) {
    footer{
        width: 82.7%;
    }
}
