*{
  margin: 0;
  padding: 0;
}
span{
  font-family: 'Cedarville Cursive', cursive;
  color: #ff69b4;
}
body{
  background-color: black;
}
nav{
padding-top: 30px;
padding-bottom: 30px;
background-color: #f2e6d3;
margin-left: 250px;
margin-right: 200px;
padding-left: 20px;
padding-right: 40px;
cursor: pointer;
}
ul{
  background-color: #f2e6d3;
  text-align: center;

}
ul li{
  display: inline-block;
  margin-left:20px;
}
.a{
  margin-right: 270px;
  font-weight: bold;
}

.head{
  background-color: #f2e6d3;
  padding-top: 30px;
  text-align: center;
  padding-bottom: 40px;
  margin-left: 250px;
  margin-right: 200px;
}
hr{
  text-align: center;
  position: absolute;
  color: blue;
  margin-left: 300px;

}
.ocean{
  width: 55%;
  vertical-align: bottom;
  background-color: #f2e6d3;
  margin-left: 250px;
  padding-left:60px;
  padding-right: 42px;
  padding-bottom: 50px;

}
.about{
  font-family: 'Cedarville Cursive', cursive;
  color: #ff69b4;
  margin-right: 320px;
  padding-bottom: 15px;
}
p{
  font-size: 10px;
  font-family: sans-serif;
}
.me{
  font-family: 'Cedarville Cursive', cursive;
  color: #ff69b4;
  margin-left: 50px;
  margin-right: 20px;
  padding-left: 200px;
  padding-right: 180px;
}
.one{
  color: black;
  margin-left: 20px;
  margin-right: 20px;
}
.my{
  padding-bottom: 15px;
  padding-right: 20px;
  margin-right: 10px;
}
.one{
  padding-bottom: 30px;
}
.pic{
  background-size: 130px 50px;
  background-color: #f2e6d3;
  margin-left: 250px;
  padding-left: 80px;
  margin-right: 200px;
  padding-bottom: 20px;

}
.b{
  border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    vertical-align: bottom;
}
.train{
  border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-right: 30px;
  text-align: center;
  vertical-align: center;
  display: inline-block;
  text-align: center;
}
.z{
  padding-left:5px;
  text-align: left;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 8px;
  background-color: white;
}
.bottom{
  font-family: 'Cedarville Cursive', cursive;
  background-color: #f2e6d3;
  text-align: center;
  padding-top: 40px;
  color:#ff69b4 ;
  margin-right: 200px;
  margin-left: 250px;
  padding-bottom: 30px;
}
footer{
  background-color: grey;
  padding-bottom: 20px;
  margin-left: 250px;
  margin-right: 200px;
}
.contact{
  font-family: 'Cedarville Cursive', cursive;
  color: #ff69b4;
  padding-top: 20px;
}
input{
  margin-right: 300px;
margin-bottom: 10px;
width: 375px;
}
button{
  cursor: pointer;
  border-color: transparent;
  background-color: transparent;
}
i{
  color: #ff69b4;
  margin-right: 5px;
  cursor: pointer;
}
.x{
  padding-left: 5px;
  font-family: 'Cedarville Cursive', cursive;
  color: #ff69b4;
  text-align: left;
  font-size: 7px;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}


@media only screen and (max-width: 1237px) {
      .ocean{
         width:55.4% ;
    }
}
@media only screen and (max-width: 1234px) {
      .ocean{
         width:55.3% ;
    }
}
@media only screen and (max-width: 1231px) {
      .ocean{
         width:55.15% ;
    }
}
@media only screen and (max-width: 1226px) {
      .ocean{
         width:55% ;
    }
}
@media only screen and (max-width: 1213px) {
      .ocean{
         width:78% ;
    }
}

@media only screen and (max-width: 1223px) {
      .ocean{
         width:54.9% ;
    }
}
@media only screen and (max-width: 1213px) {
      .ocean{
         width:54.5% ;
    }
}
@media only screen and (max-width: 1205px) {
      .ocean{
         width:54.2% ;
    }
}
@media only screen and (max-width: 1202px) {
      .ocean{
         width:54.1% ;
    }
}
@media only screen and (max-width: 1202px) {
      .ocean{
         width:54% ;
    }
}
@media only screen and (max-width: 1195px) {
      .ocean{
         width:53.8% ;
    }
}
@media only screen and (max-width: 1189px) {
       .ocean{
         width:53.55% ;
    }
}
@media only screen and (max-width: 1177px) {
       .ocean{
         width:53.1% ;
    }
}
@media only screen and (max-width: 1177px) {
       .ocean{
         width:52.9% ;
    }
}
@media only screen and (max-width: 1173px) {
       .ocean{
         width:52.8% ;
    }
}
@media only screen and (max-width: 1161px) {
       .ocean{
         width:52.45% ;
    }
}
@media only screen and (max-width: 1161px) {
       .ocean{
         width:52.35% ;
    }
}
@media only screen and (max-width: 1194px) {
      .train{
         margin-right: 25px;
    }
}
@media only screen and (max-width: 1169px) {
      .train{
         margin-right: 20px;
    }
}
@media only screen and (max-width: 1997px) {
      .work{
         font-size: 7px;
    }
}

@media only screen and (max-width: 1193px) {
      .one{
      margin-left: 10px;
    }
}
@media only screen and (max-width: 1173px) {
      .one{
      margin-left: 5px;
    }
}
@media only screen and (max-width: 1161px) {
      .one{
      margin-left: 0px;
    }
}
@media only screen and (max-width: 1161px) {
      hr{
      width: 50%;
    }
}
@media only screen and (max-width: 1217px) {
      .a{
         margin-right: 250px;
    }
}
@media only screen and (max-width: 1217px) {
      .a{
         margin-right: 220px;
    }
}
@media only screen and (max-width: 1169px) {
      .a{
         margin-right: 200px;
    }
}
